version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"  
    schedule:
      interval: "monthly"  
    commit-message:
      prefix: "chore"
      include: "scope"
    labels:
      - "dependencies"
      - "github-actions"
    open-pull-requests-limit: 5
    allow:
      - dependency-type: "direct"
