name: Auto Merge Dependabot Security Updates
on:
  pull_request:
    types: [labeled, opened, synchronize]
    
permissions:
  contents: write
  pull-requests: write
  
jobs:
  call-automerge:
    uses: ./.github/workflows/workflow-auto-merge-security-updates.yml
